
<div class="box" *ngIf="data">
    <div class="container">{{ data.info.name }}</div>
    <div class="container1">sasa</div>
    <div class="container3">
      <div class="container4">hii</div>
      <div class="container5">shahil</div>
    </div>
    <div class="main">
      <div class="left">
        <div class="innerleft">
          <div class="innerleft-1">sas</div>
          <div class="innerleft-2">sas</div>
        </div>
        <div class="innermiddle">
          <div class="innermiddle-1">sas</div>
          <div class="innermiddle-2">sas</div>
        </div>
        <div class="innerbelow">
          <div class="innerbelow-1">sas</div>
          <div class="innerbelow-2">sas</div>
        </div>
      </div>
      <div class="right"  id="animationPreview" >
        
      </div>
    </div>
    <div class="footer">sasa</div>
    <script src="https://ps.visarity.com/demos/preview/handler.js"></script>
  </div>

