.box {
    width: 1050px;
    height: 1050px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.container {
    height: 150px;
    width: 1000px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; 
}
.container1 {
    margin: 10px auto; 
    height: 150px;
    width: 1000px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container3 {
    width: 1000px;
    height: 170px;
    margin: 0px 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.container4 {
    margin: 0px; 
    height: 150px;
    width: 800px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5 {
    margin: 0px; 
    height: 150px;
    width: 180px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.right {
    width: 232px;
    height: 483px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.right img {
    max-width: 100vh;
    max-height: 100%;
    object-fit: contain; 
}
.left {
    width: 780px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.innerleft{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width:770px;
}
 .innermiddle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width:770px;
}
.innerbelow{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
   
    width:770px;
 
}
.innerleft-1{
    width: 55%;  
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;  
}
.innerleft-2{
    width: 45%; 
    margin-left:5px; 
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.innermiddle-1{
    width: 48%;  
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.innermiddle-2{
    width: 52%;  
    margin-left: 5px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}


.innerbelow-1{
    width: 100%;  
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;  
}
.innerbelow-2{
    width: 100%; 
   margin-top: 5px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.footer {
    height: 150px;
    width: 1000px;
    border: 1px solid gray; 
    border-radius: 5px; 
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; 
}



/* .box {
    width: 1050px;
    max-height: 90vh;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    overflow-y: auto;
    border: 1px solid gray;
} */